<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension point="net.bioclipse.qsar.descriptorProvider">
    <provider id="net.bioclipse.joelib.descriptorprovider"
      name="JOELib"
      vendor="JOELib"
      namespace="http://joelib.sourceforge.net"
      version="1.0.0"
      shortName="JOELib"
      calculator="net.bioclipse.joelib.qsar.impl.JOELibDescriptorCalculator"
      acceptsSmiles="true"
      acceptsCml="true"
      acceptsMolfile="true">

      <descriptorImpl id="joelib.desc.types.BCUT"
        definition="http://www.blueobelisk.org/ontologies/chemoinformatics-algorithms/#BCUT"
        description="Eigenvalue based descriptor noted for its utility in chemical diversity."
        name="BCUT">
      </descriptorImpl>
      <descriptorImpl id="joelib.desc.types.NumberOfAtoms"
        definition="http://www.blueobelisk.org/ontologies/chemoinformatics-algorithms/#atomCount"
        description="Number of Atoms."
        name="NumberOfAtoms">
      </descriptorImpl>
      <descriptorImpl id="joelib.desc.types.NumberOfBasicGroups"
        definition="http://www.blueobelisk.org/ontologies/chemoinformatics-algorithms/#numberOfBasicGroups"
        description="Number of Basic Groups."
        name="NumberOfBasicGroups">
      </descriptorImpl>
      <descriptorImpl id="joelib.desc.types.NumberOfAcidicGroups"
        definition="http://www.blueobelisk.org/ontologies/chemoinformatics-algorithms/#numberOfAcidicGroups"
        description="Number of Acidic Groups."
        name="NumberOfAcidicGroups">
      </descriptorImpl>
      <descriptorImpl id="joelib.desc.types.BurdenModifiedEigenvalues"
        definition="http://www.blueobelisk.org/ontologies/chemoinformatics-algorithms/#burdenModifiedEigenvalues"
        description="Burden Modified Eigenvalues."
        name="BurdenModifiedEigenvalues">
      </descriptorImpl>
      <descriptorImpl id="joelib.desc.types.HeteroCycles"
        definition="http://www.blueobelisk.org/ontologies/chemoinformatics-algorithms/#heteroCycles"
        description="Number of Heterocycles."
        name="NumberOfHeterocycles">
      </descriptorImpl>
    </provider>
  </extension>

</plugin>
